body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: var(--background-color);
  }
  
  /* ==================ERASING STYLES================== */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  h1,
  h2,
  h3,
  body,
  p {
    margin: 0;
  }
  
  address {
    font-style: normal;
  }
  
  img {
    display: block;
  }
  
  ul,
  li {
    text-decoration: none;
    margin: 0;
    padding-left: 0;
  }
  
  button {
    cursor: pointer;
  }
  
  /* ==================ELEMENTS================== */
  :root {
    --small-text-color: #2e2f42;
    --background-color: #ffffff;
    --hover-and-focus-color: #404bbf;
    --blue-button-and-logo-color: #4d5ae5;
    --small-text-dark-theme-color: #f4f4fd;
  }
  
  /* ==================COMPONENTS================== */
  .secondary-title {
    max-width: 496px;
    font-size: 36px;
    line-height: 1.11;
    /* identical to box height, or 111% */
  
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  
    color: var(--small-text-color);
  }
  
  .studio-color {
    color: var(--small-text-color);
  }
  
  .small-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
  
    letter-spacing: 0.02em;
    color: var(--small-text-color);
  
    margin-bottom: 8px;
  }
  
  .small-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    /* or 150% */
  
    letter-spacing: 0.02em;
  
    /* SLATE */
  
    color: #434455;
  }
  
  .small-descr-dark-theme {
    color: var(--small-text-dark-theme-color);
  }
  
  .studio-color-dark-theme {
    color: var(--small-text-dark-theme-color);
  }
  
  /* ==================Header================== */
  
  .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--blue-button-and-logo-color);
  }
  
  .menu-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--small-text-color);
  }
  
  .address-item:nth-child() {
    margin-right: none;
  }
  .contact {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
  
    letter-spacing: 0.02em;
    color: #434455;
  }
  
  .menu-link:hover,
  .menu-link:focus,
  .menu-item:hover,
  .menu-item:focus,
  .contact:hover,
  .contact:focus {
    color: var(--hover-and-focus-color);
  }
  
  .list {
    list-style: none;
  }
  
  .link {
    text-decoration: none;
    display: inline-block;
  }
  
  .menu-link {
    color: var(--small-text-color);
  }
  
  /* ==================Hero================== */
  .hero {
    background-color: var(--small-text-color);
  }
  
  .main-title {
    max-width: 496px;
    margin: 0 auto;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
  
    color: var(--background-color);
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .hero-button {
    width: 169px;
    height: 56px;
    border: none;
  
    font-family: "Roboto", sans-serif;
    font-style: normal;
    background: var(--blue-button-and-logo-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
  
    display: block;
    min-width: 169px;
  
    margin: 0 auto;
  
    color: white;
  }
  
  .hero-button:hover,
  .hero-button:focus {
    background-color: var(--hover-and-focus-color);
  }
  
  /* ==================MAIN================== */
  .our-team-list-item {
    background-color: var(--background-color);
  }
  
  /* ==================FOOTER================== */
  
  .page-footer {
    line-height: 1.17;
    padding: 100px 0;
    letter-spacing: 0.03em;
    color: var(--blue-button-and-logo-color);
  
    /* NAVY BLUE */
  
    background: var(--small-text-color);
  }
  
  .footer-link {
    margin-bottom: 16px;
  }
  
  /* ==================BOXING PORTFOLIO================== */
  .container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    border: px solid #e7e9fc;
    border-top: none;
  }
  
  .page-footer p {
    max-width: 264px;
  }
  
  .page-header {
    border-bottom: 1px solid #e7e9fc;
  }
  
  .page-header-boxing {
    justify-content: space-between;
    display: flex;
    align-items: center;
  }
  
  .menu,
  .nav,
  .list {
    display: flex;
  }
  
  .nav {
    align-items: center;
  }
  
  .logo {
    margin-right: 76px;
  }
  
  .menu-link {
    padding: 24px 0;
  }
  
  .menu-item,
  .address-item {
    margin-right: 40px;
  }
  ul.list .menu-item:last-child,
  ul.list .address-item:last-child {
    margin-right: 0;
  }
  
  .buttons-list-portfolio {
    justify-content: center;
  }
  
  .navigation-button {
    margin-right: 24px;
    text-align: center;
    padding: 12px 24px;
  }
  
  .portfolio-box {
    padding-bottom: 120px;
  }
  
  .our-portfolio-container {
    padding: 120px 0 120px 0;
  }
  
  .portfolio-picture-descr {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }
  
  .portfolio-box {
    display: flex;
    flex-wrap: wrap;
  
    gap: 48px 24px;
  }
  
  .page-footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  .page-footer p {
    margin-top: 16px;
  }
  
  .name-position {
    padding: 32px 0;
  }
  
  /* ==================BOXING INDEX================== */
  .hero {
    text-align: center;
    padding-top: 188px;
    padding-bottom: 188px;
  }
  
  .hero-button {
    margin-top: 48px;
  }
  
  .small-descr-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  
  .small-descr-section-item:nth-child(-n + 3) {
    margin-right: 24px;
  }
  
  .small-descr-section-item {
    width: 264px;
  }
  
  .what-are-we-doing {
    padding-bottom: 120px;
  }
  
  .secondary-title {
    margin: 0 auto;
    margin-bottom: 72px;
  }
  
  .what-are-we-doing-item {
    border: 1px solid #e7e9fc;
    margin-right: 24px;
  }
  
  .our-team {
    background-color: var(--small-text-dark-theme-color);
    padding-top: 120px;
    padding-bottom: 120px;
  }
  
  .our-team-list-item {
    margin-right: 24px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
  }
  
  .our-team-list-item:last-child {
    margin-right: 0;
  }
  
  /* ==================PORTFOLIO================== */
  .navigation-button {
    font-family: "Roboto", sans-serif;
    font-style: normal;
  
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
  
    /* CLOUD */
  
    background: var(--small-text-dark-theme-color);
    /* CORNFLOWER */
  
    border: 1px solid #e7e9fc;
    border-radius: 4px;
  
    color: var(--blue-button-and-logo-color);
  }
  
  .navigation-button:hover,
  .navigation-button:focus {
    color: var(--background-color);
    background-color: var(--hover-and-focus-color);
  }